**/DAGAN-master/omniglot
**/image_folder_test
*.xml
*.pyc
**/train
**/test
**/train_reduced
**/test_reduced
*.jpg
**/DAGAN-master/painting
**/working_directory
**/working_directory_andreas
**/DAGAN-interpolation/omniglot
